# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
.pytest_cache/
